---
import Presentation from "../components/about/Presentation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.astro";
import Experience from "../components/Experience.astro";
import SwitchLanguage from "../components/SwitchLanguage.astro";
import Disponibility from "../components/about/Disponibility.astro";
const pageTitle = "danibreaddDev";
const currentPath = Astro.url.pathname;
const allProjects = await Astro.glob("../pages/projects/*.md");
const selectedProjects = allProjects.filter((project) => project.frontmatter.featured);
---

<BaseLayout title={pageTitle}>
    <div class="container max-w-4xl flex-1">
        <SwitchLanguage currentPath={currentPath}/>
        <Disponibility disponibility="Disponible."/>
        
        <div class="grid items-center py-4 space-y-20">
            <Presentation frase="Soy Dani, Desarrollador de Software y Administrador de Sistemas." subfrase="Espero que encuentres una parte de mi aquí."/>

            <section class="flex flex-col items-center space-y-5">
                <div class="flex w-full items-center justify-between">
                    <p class="dark:text-white font-bold text-xl">Proyectos</p>
                    
                    <a href="/projects" class="group flex items-center gap-1 text-neutral-700 dark:text-neutral-200 decoration-dotted underline-offset-[5px] hover:underline"
                        >Más
                        <svg
                            width="14"
                            height="14"
                            stroke="currentColor"
                            stroke-width="2"
                            class="lucide-icon lucide lucide-arrow-right opacity-70 duration-200 group-hover:translate-x-[2px] font-semibold group-hover:opacity-100 stroke-neutral-700 dark:stroke-neutral-100"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"
                            ></path></svg
                        >
                    </a>
                </div>
                <div class="grid grid-cols-1 sm:grid sm:grid-cols-2 gap-5">
                    {
                        selectedProjects.map((project) => (
                            <Project
                                url={project.url}
                                urlGit={project.frontmatter.urlGit}
                                urlDemo={project.frontmatter.urlDemo}
                                title={project.frontmatter.title}
                                description={project.frontmatter.description}
                                technologies={project.frontmatter.technologies}
                            />
                        ))
                    }
                </div>
            </section>

            <section class="flex flex-col gap-5">
                <p class="dark:text-white font-bold text-xl">Experiencia</p>
                <Experience idioma="es" />
            </section>
            
        </div>
    </div>
</BaseLayout>
