---
import Presentation from "../components/about/Presentation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.astro";
import About from "../components/About.astro";
import Tools from "../components/Technologies.astro";
import Experience from "../components/Experience.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
const pageTitle = "Portfolio Daniel";
const allProjects = await Astro.glob("../pages/projects/*.md");
---

<BaseLayout title={pageTitle}>
    <Presentation />
    <div id="SectionInfo" class="">
        <section>
            <h3
                class="text-center dark:text-white lg:text-left font-bold text-3xl mt-20"
            >
                Proyectos
            </h3>
            <div
                class="flex flex-col justify-center items-center w-auto gap-5 xl:grid xl:grid-cols-2 sm:grid sm:grid-cols-2"
            >
                {
                    allProjects.map((project) => (
                        <Project
                            url={project.url}
                            urlGit={project.frontmatter.urlGit}
                            urlDemo={project.frontmatter.urlDemo}
                            title={project.frontmatter.title}
                            description={project.frontmatter.description}
                            technologies={project.frontmatter.technologies}
                        />
                    ))
                }
            </div>
        </section>
        <section>
            <h3
                class="text-center dark:text-white lg:text-left font-bold text-3xl mt-20"
            >
                Sobre Mí
            </h3>
            <About />
        </section>
        <section>
            <h3
                class="text-center dark:text-white lg:text-left font-bold text-3xl mt-20"
            >
                Experiencia
            </h3>
            <Experience />
        </section>
        <section>
            <h3
                class="text-center dark:text-white lg:text-left font-bold text-3xl mt-20"
            >
                Tecnologías
            </h3>
            <Tools />
        </section>
    </div>
</BaseLayout>
