---
interface Props {
    img: string;
    company: string;
    description: string;
    date: string;
    technologies: string[];
}
const { img, company, description, date, technologies } = Astro.props;
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">

    <li class="relative mb-10 ms-4">

        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{date}</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{company}</h3>
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">{description}</p>
        <div class="flex flex-wrap gap-2 mt-2">
            {technologies.map((tech) => (
                <img class="w-8 h-8" src={tech} title="Tecnologia" />
            ))}
        </div>
    </li>
</ol>

<!-- <div class="mt-10 p-5 lg:grid lg:grid-cols-1">
    <div
        class="flex flex-col p-5 lg:p-10 bg-white dark:bg-transparent rounded-lg ring-1 dark:ring-gray-100 ring-slate-900/20 shadow-lg"
    >
        <img src={img} alt="Empresa" class="aspect-square h-24 w-24 object-contain" />

        <p class="text-gray-700 dark:text-gray-50 font-medium">{description}</p>
        <p class="dark:text-gray-100">{date}</p>
        <div class="flex flex-wrap gap-2 mt-2">
            {
                technologies.map((technology) => (
                    <img class="w-8 h-8" src={technology} title="Tecnologia" />
                ))
            }
        </div>
    </div>
</div>
-->