---
const { title, url, alt, description, image } = Astro.props;
import web from "../assets/web.svg"
---

<a
    href={url}
    class="mt-10 group block w-full mx-auto p-5 space-y-3 rounded-lg  hover:shadow-xl transition-shadow duration-300"
>
    <div class="flex items-center space-x-5">
        <img
            src={web.src}
            alt={alt}
            class=" w-8 h-8 transition-transform duration-300 group-hover:scale-125"
        />
        <h3 class="text-slate-900 group-hover:text-black text-sm font-semibold dark:text-gray-300 dark:group-hover:text-white">
            {title}
        </h3>
    </div>
    <p class="text-slate-500 group-hover:text-gray-500 text-sm dark:text-gray-200">{description}</p>
</a>
