---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Project from "../../components/Project.astro";
const projects = await Astro.glob("./*.md");
---

<BaseLayout title="Projects">
    <div class="container max-w-4xl flex-1">
        <div class="grid items-center space-y-20">
            <section class="flex flex-col space-y-5 mt-20">
                <p
                    class="text-xl dark:text-neutral-200 text-neutral-900 font-bold"
                >
                    Projects
                </p>
                <div class="flex justify-between items-center">
                    <p
                        class="text-sm dark:text-neutral-200 text-neutral-500 font-bold"
                    >
                        {projects.length} repositories
                    </p>
                    <div class="group flex items-center space-x-1">
                        <a
                        href="https://github.com/danibreaddDev"
                        class="text-sm dark:text-neutral-200 text-neutral-500 font-bold"
                        >View on Github.</a
                    >
                        <svg
                        width="14"
                        height="14"
                        stroke="currentColor"
                        stroke-width="2"
                        class="lucide-icon lucide lucide-arrow-right opacity-70 duration-200 group-hover:translate-x-[2px] font-semibold group-hover:opacity-100 stroke-neutral-700 dark:stroke-neutral-100"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"
                        ></path></svg
                    >
                    </div>
                    
                    
                </div>
                <div class="grid grid-cols-1 gap-5">
                    {
                        projects.map((project) => (
                            <Project
                                url={project.url}
                                urlGit={project.frontmatter.urlGit}
                                urlDemo={project.frontmatter.urlDemo}
                                title={project.frontmatter.title}
                                description={project.frontmatter.description}
                                technologies={project.frontmatter.technologies}
                            />
                        ))
                    }
                </div>
            </section>
        </div>
    </div>
</BaseLayout>
